
@{
    ViewData["Title"] = "ResetPassword";
}
@model ForgotPasswordViewModel

@section Scripts{@await Html.PartialAsync("_ValidationScriptsPartial")}

<div class="row">
    <div class="col-md-4 offset-md-4">

        @if (TempData["SuccessMessage"] != null)
        {
           <div role="alert" class="fade alert-content mb-4 alert alert-success show" id="validation-errors">
               <span class="pgn__icon alert-icon"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" focusable="false" aria-hidden="true"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2Zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9Z" fill="currentColor"></path></svg></span>
               <div class="pgn__alert-message-wrapper-stacked">
                   <div class="alert-message-content">
                       <div class="alert-heading h4">Check your email</div>
                       <p>@TempData["SuccessMessage"]</p>
                   </div>
               </div>
           </div>
        }
        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert"></div>
        <form method="post">
            <div class="mb-3">
                <input placeholder="Email" asp-for="Email" class="form-control">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="mb-3">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary">Send Reset Link</button>
                </div>
            </div>
        </form>
    </div>
</div>

