@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    @* <img src="~/images/logo.png" alt="Microsoft_Identity_Project Logo" /> *@
    <h1 class="display-4">Welcome to Microsoft Identity Project Web Application</h1>
    <p>Welcome to the Microsoft Identity Project web application. This platform allows you to manage and visualize your data effortlessly.</p>
</div>
<style>
    h1 {
        font-size: 2rem;
        color: #007BFF;
    }

    p {
        font-size: 1.2rem;
    }

    body {
        background-color: #F8F9FA;
    }
</style>

